body {
    background-color: #1F1F1F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-bottom: 2%;
}

:root {
    --text-color1: white;
    --text-color2: black;
    --subtitle-size: 50px;
    --paragraph-size: 20px;
    --pod-size: 300px;
    --transition-time: 0.2s;
    --pod-title: 40px;
}

.title {
    color: var(--text-color1);
    text-align: center;
    font-size: 100px;
    margin-top: 45vh;
}

.sideNav {
    background-color: antiquewhite;
    width: 100px;
    height: 500px;
    position: fixed;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    padding-top: 75px;
    text-align: center;
    padding: 10px;
}

.sideNav a {
    text-decoration: none;
    color: var(--text-color2);
    font-size: var(--paragraph-size);
}

.sideNavIcon {
    width: 72px;
    margin-bottom: 35px;
}


.featured {
    text-align: center;
    margin-top: 50vh;
    font-size: var(--subtitle-size);
}

.featuredPod {
    font-size: 40px;
    background-color: antiquewhite;
    margin: 3% 20% 10% 20%;
    border-radius: 20px;
    padding: 15px;
    color: var(--text-color2);
    text-align: left;
}

.featuredPod p:nth-child(2) {
    font-size: var(--paragraph-size);
}

.allPodsTitle {
    text-align: center;
    font-size: var(--subtitle-size);
}

.allPods {
    text-align: center;
    font-size: var(--subtitle-size);
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10% 0px 10%;
}

.podCard {
    background-color: antiquewhite;
    font-size: var(--paragraph-size);
    color: var(--text-color2);
    width: var(--pod-size);
    height: var(--pod-size);
    border-radius: 10px;
    position: absolute;
    transition: var(--transition-time);
    padding: 7px;
    margin-bottom: 20px;
}

.podTitle {
    opacity: 0%;
    transition: var(--transition-time);
}

.podTitle:hover{
    opacity: 100%;
}

.podCard p:nth-child(1){
    font-size: var(--pod-title);
}

.popup {
    background-color: red;
    transition: var(--transition-time);
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 10;
}

.popup:hover ~ .podTitle{
    opacity: 100%;
    color: blue;
}

.podCastPlaceHolder {
    justify-content: space-evenly;
    width: var(--pod-size);
    height: var(--pod-size);
    border-radius: 10px;
}

.podContaner{
    position: relative;
    width: var(--pod-size);
    height: var(--pod-size);
}

/* TOP NAVIGATION */

.topnav {
    visibility: hidden;
}
@media only screen and (max-width: 1200px) {
    .sideNav {
        visibility: hidden;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 80px;
        right: 2%;
        transition: var(--transition-time);
        visibility: visible;
        z-index: 20;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        transition: var(--transition-time);
    }
    
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        transition: var(--transition-time);
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        content: url(/img/menu.png);
        width: 20px;
        position: fixed;
        display: block;
        right: 2%;
        top: 20px;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: var(--transition-time);
    }
}


/* ABOUT */
.aboutTitle {
    font-size: var(--subtitle-size);
    text-align: center;
    margin-top: 100px;
}

.about {
    font-size: var(--paragraph-size);
    text-align: center;
    background-color: antiquewhite;
    color: var(--text-color2);
    padding: 20px;
    border-radius: 10px;
    margin: 0px 15% 20px 15%;
}

/* CONTACT */
.contactTitle {
    font-size: var(--subtitle-size);
    text-align: center;
    margin-top: 100px;
}

.contact {
    font-size: var(--paragraph-size);
    text-align: center;
    background-color: antiquewhite;
    color: var(--text-color2);
    padding: 20px;
    border-radius: 10px;
    margin: 0px 15% 20px 15%;
}

.contact img {
    margin: 0 20%;
}